@model List<PortfolioProject.Models.Category>
@{
    ViewBag.Title = "CategoryList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Kategori Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Kategori Adı</th>
        <th>Durumu</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CatagoryName</td>
            <td>
                <span class="@(item.CategoryStatus == true ? "text-success" : "text-danger")">
                    @(item.CategoryStatus == true ? "Aktif" : "Pasif")
                </span>
            </td>
            <td><a href="/Category/DeleteCategory/@item.CategoryId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Category/UpdateCategory/@item.CategoryId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Category/CreateCategory/" class="btn btn-info">Yeni Kategori Girişi</a>