
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div style="background-color:antiquewhite" class="container">

    <br />
    <h3 class="alert alert-success">Yeni Kategori ekleme alanı</h3>

    <label>Kategori adı</label>

    <input type="type" name="name" value="" class="form-control" />
    <br />
    <label>Kategori Açıklaması</label>
    <input type="type" name="name" value="" class="form-control" />
    <br />
    <label>Kategori Değeri</label>
    <input type="type" name="name" value="" class="form-control" />
    <br />
    <button class="btn btn-success">kategoriyi oluştur</button>

</div>