@model PortfolioProject.Models.Category
@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Kategori Güncelle</h2>
<form method="post">
    @Html.HiddenFor(x => x.CategoryId)
    <label>Kategori Adı</label>
    @Html.TextBoxFor(x => x.CatagoryName, new { @class = "form-control" })
    <br />
    <label>Kategori Durumu</label>
    @Html.DropDownListFor(x => x.CategoryStatus, new SelectList(new List<SelectListItem>
    {
        new SelectListItem { Text = "Aktif", Value = "True" },
        new SelectListItem { Text = "Pasif", Value = "False" }
    }, "Value", "Text"), "Kategori Durumunu Seçiniz", new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kategoriyi Güncelle</button>
</form>


