@model List<PortfolioProject.Models.About>
@{
    ViewBag.Title = "AboutList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<h2 class="mb-4">Hakkımda</h2>

<table class="table table-bordered">
    <tr>
      
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Fotoğrafım</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
           
            <td>@item.Title</td>
            <td>@item.Detail</td>
            <td><img src="@item.ImageUrl" style="height:72px; width:128px;" /></td>
            <td><a href="/About/UpdateAbout/@item.AboutId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>