@model List<PortfolioProject.Models.About>
@{
    ViewBag.Title = "AboutList";
    Layout = "~/Views/Admin/Index.cshtml";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<h2 class="mb-4 alert alert-warning">Hakkımda</h2>

<table class="table table-bordered">
    <tr style="background-color:cornflowerblue; color:white;">
        <th>Başlık</th>
        <th>Açıklama</th>
        <th>Fotoğrafım</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.Detail</td>
            <td><img src="@item.ImageUrl" style="max-height:72px; max-width:128px;" /></td>
            <td><a href="/About/UpdateAbout/@item.AboutId" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>

