<div class="container-fluid nav-section border-0">
    <nav class="navbar navbar-light">
        <div class="navbar-nav flex-column">
            <a href="#pigraHome" class="nav-item nav-link active"><span class="fa fa-home"></span> Ana Sayfa</a>
            <a href="#pigraAbout" class="nav-item nav-link"><span class="far fa-address-card"></span> Hakkımda</a>
            <a href="#pigraEducation" class="nav-item nav-link"><span class="fas fa-school"></span> Eğitim Hayatım</a>
            <a href="#pigraExperience" class="nav-item nav-link"><span class="fas fa-briefcase"></span> Deneyimlerim</a>
            <a href="#pigraSkill" class="nav-item nav-link"><span class="fas fa-cogs"></span> Yeteneklerim</a>
            <a href="#pigraService" class="nav-item nav-link"><span class="fas fa-concierge-bell"></span> Hizmetlerim</a>
            <a href="#pigraWork" class="nav-item nav-link"><span class="fas fa-folder-open"></span> Portfolio</a>
            <a href="#pigraTestimonial" class="nav-item nav-link"><span class="fas fa-user-check"></span> Referanslar</a>
            <a href="#pigraContact" class="nav-item nav-link"><span class="fas fa-envelope"></span> Bana Ulaşın</a>
        </div>
    </nav>
</div>