<h2 class="mb-4 alert alert-warning">Iconlar</h2>
<br />
<div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 8px;">
    <label style="background-color: #f0f8ff; color: black;"><b>Facebook:</b> fab fa-facebook</label>

    <label style="background-color: #ffebcd; color: black;"><b>Twitter:</b> fab fa-twitter</label>

    <label style="background-color: #ffe4e1; color: black;"><b>LinkedIn:</b> fab fa-linkedin</label>

    <label style="background-color: #e6e6fa; color: black;"><b>YouTube:</b> fab fa-youtube</label>

    <label style="background-color: #faf0e6; color: black;"><b>Pinterest:</b> fab fa-pinterest</label>

    <label style="background-color: #e0ffff; color: black;"><b>Snapchat:</b> fab fa-snapchat-ghost</label>

    <label style="background-color: #f5f5dc; color: black;"><b>Reddit:</b> fab fa-reddit</label>

    <label style="background-color: #f0f8ff; color: black;"><b>Twitch:</b> fab fa-twitch</label>

    <label style="background-color: #e6e6fa; color: black;"><b>Tumblr:</b> fab fa-tumblr</label>

    <label style="background-color: #f0fff0; color: black;"><b>WhatsApp:</b> fab fa-whatsapp</label>

    <label style="background-color: #f5f5dc; color: black;"><b>GitHub:</b> fab fa-github</label>

    <label style="background-color: #e6e6fa; color: black;"><b>Stack Overflow:</b> fab fa-stack-overflow</label>

    <label style="background-color: #faebd7; color: black;"><b>GitLab:</b> fab fa-gitlab</label>

    <label style="background-color: #ffe4e1; color: black;"><b>Bitbucket:</b> fab fa-bitbucket</label>

    <label style="background-color: #f0f8ff; color: black;"><b>Dribbble:</b> fab fa-dribbble</label>

    <label style="background-color: #e6e6fa; color: black;"><b>CodePen:</b> fab fa-codepen</label>

    <label style="background-color: #ffebcd; color: black;"><b>HackerRank:</b> fab fa-hackerrank</label>

    <label style="background-color: #e0ffff; color: black;"><b>Slack:</b> fab fa-slack</label>

    <label style="background-color: #faf0e6; color: black;"><b>Medium:</b> fab fa-medium</label>

    <label style="background-color: #f5f5dc; color: black;"><b>Discord:</b> fab fa-discord</label>

    <label style="background-color: #ffe4e1; color: black;"><b>Instagram:</b> fab fa-instagram</label>

    <label style="background-color: #f0fff0; color: black;"><b>Vimeo:</b> fab fa-vimeo</label>

    <label style="background-color: #f0f8ff; color: black;"><b>Telegram:</b> fab fa-telegram</label>

    <label style="background-color: #e6e6fa; color: black;"><b>Figma:</b> fab fa-figma</label>

</div>
