@model IEnumerable<PortfolioProject.Models.Skill>

<h2 class="alert alert-warning">Yetenek İstatistikleri</h2>
<br /><br />
<div style="max-width: 800px; margin: auto;">
    <canvas id="myChart" width="400" height="200"></canvas>
</div>

<!-- Chart.js Kütüphanesini ekle -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var gradient = ctx.createLinearGradient(0, 0, 0, 400);
    gradient.addColorStop(0, 'rgba(75, 192, 192, 1)');
    gradient.addColorStop(1, 'rgba(153, 102, 255, 1)');

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: @Html.Raw(Json.Encode(Model.Select(x => x.Title).ToArray())), // Başlıklar
            datasets: [{
                label: 'Yetenek Değerleri',
                data: @Html.Raw(Json.Encode(Model.Select(x => x.Value).ToArray())), // Değerler
                backgroundColor: gradient,  // Renk geçişi
                borderColor: 'rgba(54, 162, 235, 1)',  // Dış çizgi rengi
                borderWidth: 2,  // Çubukların kenar kalınlığı
                hoverBackgroundColor: 'rgba(255, 159, 64, 0.8)',  // Hover renginde değişiklik
                hoverBorderColor: 'rgba(255, 159, 64, 1)',  // Hover dış çizgi rengi
            }]
        },
        options: {
            animation: {
                duration: 2000, // Animasyon süresi
                easing: 'easeInOutBounce' // Yumuşak animasyon tipi
            },
            plugins: {
                tooltip: {
                    backgroundColor: 'rgba(0, 0, 0, 0.7)',
                    titleFont: {
                        size: 16,
                        weight: 'bold',
                    },
                    bodyFont: {
                        size: 14,
                    },
                    bodySpacing: 6,
                    padding: 10,
                    cornerRadius: 6,
                }
            },
            scales: {
                y: {
                    beginAtZero: true,
                    ticks: {
                        color: '#000', // Y ekseni renk
                        font: {
                            size: 14
                        }
                    },
                    grid: {
                        display: true,  // Y ekseni grid
                        color: 'rgba(75, 192, 192, 0.2)'  // Grid rengi
                    }
                },
                x: {
                    ticks: {
                        color: '#000',  // X ekseni renk
                        font: {
                            size: 14
                        }
                    },
                    grid: {
                        display: false  // X ekseni grid'i gizle
                    }
                }
            }
        }
    });
</script>
