<h2 class="mb-4 alert alert-warning">Iconlar</h2>

<br />
<div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 8px;">
    <label style="background-color: #f0f8ff; color: black;"><b>Android:</b> fab fa-android fa-3x</label>

    <label style="background-color: #ffebcd; color: black;"><b>App Store:</b> fab fa-apple fa-3x</label>

    <label style="background-color: #ffe4e1; color: black;"><b>HTML5:</b> fab fa-html5 fa-3x</label>

    <label style="background-color: #e6e6fa; color: black;"><b>CSS3:</b> fab fa-css3-alt fa-3x</label>

    <label style="background-color: #faf0e6; color: black;"><b>JavaScript:</b> fab fa-js-square fa-3x</label>

    <label style="background-color: #e0ffff; color: black;"><b>Python:</b> fab fa-python fa-3x</label>

    <label style="background-color: #f5f5dc; color: black;"><b>Swift:</b> fab fa-swift fa-3x</label>

    <label style="background-color: #f0f8ff; color: black;"><b>C:</b> fab fa-c fa-3x</label>

    <label style="background-color: #e6e6fa; color: black;"><b>C++:</b> fab fa-cplusplus fa-3x</label>

    <label style="background-color: #faebd7; color: black;"><b>Java:</b> fab fa-java fa-3x</label>

    <label style="background-color: #ffe4e1; color: black;"><b>PHP:</b> fab fa-php fa-3x</label>

    <label style="background-color: #faebd7; color: black;"><b>PostgreSQL:</b> fab fa-postgresql fa-3x</label>

    <label style="background-color: #f0fff0; color: black;"><b>MySQL:</b> fab fa-mysql fa-3x</label>

    <label style="background-color: #f5f5dc; color: black; "><b>Firebase:</b> fab fa-fire fa-3x</label>

    <label style="background-color: #f5f5dc; color: black;"><b>Node.js:</b> fab fa-node-js fa-3x</label>

    <label style="background-color: #e6e6fa; color: black;"><b>Bootstrap:</b> fab fa-bootstrap fa-3x</label>

    <label style="background-color: #ffebcd; color: black;"><b>Laravel:</b> fab fa-laravel fa-3x</label>

    <label style="background-color: #f0f8ff; color: black;"><b>ASP.NET:</b> fab fa-asp fa-3x</label>

    <label style="background-color: #e6e6fa; color: black;"><b>Git:</b> fab fa-git fa-3x</label>

    <label style="background-color: #f0f8ff; color: black;"><b>Docker:</b> fab fa-docker fa-3x</label>

    <label style="background-color: #ffebcd; color: black;"><b>Visual Studio:</b> fab fa-visual-studio fa-3x</label>

    <label style="background-color: #f5f5dc; color: black;"><b>Jira:</b> fab fa-jira fa-3x</label>

    <label style="background-color: #f5f5dc; color: black;"><b>C#:</b> fab fa-csharp fa-3x</label>

    <label style="background-color: #f0f8ff; color: black;"><b>Unity:</b> fab fa-unity fa-3x</label>

    <label style="background-color: #f0f8ff; color: black;"><b>Unreal Engine:</b> fab fa-unreal fa-3x</label>

    <label style="background-color: #f5f5dc; color: black;"><b>Godot:</b> fab fa-godot fa-3x</label>

    <label style="background-color: #ffe4e1; color: black;"><b>GameMaker:</b> fab fa-gamemaker fa-3x</label>

    <label style="background-color: #f0f8ff; color: black;"><b>GitHub:</b> fab fa-github fa-3x</label>

    <label style="background-color: #ffe4e1; color: black;"><b>SourceForge:</b> fab fa-sourceforge fa-3x</label>

    <label style="background-color: #f0f8ff; color: black;"><b>Rust:</b> fab fa-rust fa-3x</label>

    <label style="background-color: #ffe4e1; color: black;"><b>Scala:</b> fab fa-scala fa-3x</label>

    <label style="background-color: #e6e6fa; color: black;"><b>Go:</b> fab fa-golang fa-3x</label>

    <label style="background-color: #faf0e6; color: black;"><b>Kotlin:</b> fab fa-kotlin fa-3x</label>

    <label style="background-color: #f5f5dc; color: black;"><b>Perl:</b> fab fa-perl fa-3x</label>

    <label style="background-color: #e0ffff; color: black;"><b>Elixir:</b> fab fa-elixir fa-3x</label>

    <label style="background-color: #ffe4b5; color: black;"><b>Haskell:</b> fab fa-haskell fa-3x</label>

    <label style="background-color: #f0f8ff; color: black;"><b>R:</b> fab fa-r-project fa-3x</label>

    <label style="background-color: #f5f5dc; color: black;"><b>F#:</b> fab fa-fsharp fa-3x</label>

    <label style="background-color: #e6e6fa; color: black;"><b>Objective-C:</b> fab fa-objective-c fa-3x</label>

    <label style="background-color: #f5f5dc; color: black;"><b>Solidity:</b> fab fa-solidity fa-3x</label>

    <label style="background-color: #f0f8ff; color: black;"><b>Dart:</b> fab fa-dart fa-3x</label>

    <label style="background-color: #ffe4e1; color: black;"><b>Lua:</b> fab fa-lua fa-3x</label>

    <label style="background-color: #e6e6fa; color: black;"><b>Elm:</b> fab fa-elm fa-3x</label>

    <label style="background-color: #faf0e6; color: black;"><b>COBOL:</b> fab fa-cobol fa-3x</label>

    <label style="background-color: #f5f5dc; color: black;"><b>Smalltalk:</b> fab fa-smalltalk fa-3x</label>

    <label style="background-color: #e0ffff; color: black;"><b>Scratch:</b> fab fa-scratch fa-3x</label>

    <label style="background-color: #ffe4b5; color: black;"><b>VB.NET:</b> fab fa-vbnet fa-3x</label>

    <label style="background-color: #f0f8ff; color: black;"><b>Crystal:</b> fab fa-crystal fa-3x</label>

    <label style="background-color: #f5f5dc; color: black;"><b>TypeScript:</b> fab fa-typescript fa-3x</label>

    <label style="background-color: #ffe4e1; color: black;"><b>Assembly:</b> fab fa-assembly fa-3x</label>

    <label style="background-color: #f0f8ff; color: black;"><b>MATLAB:</b> fab fa-matlab fa-3x</label>

    <label style="background-color: #ffe4e1; color: black;"><b>PowerShell:</b> fab fa-powershell fa-3x</label>

    <label style="background-color: #e6e6fa; color: black;"><b>Vue.js:</b> fab fa-vuejs fa-3x</label>

    <label style="background-color: #faf0e6; color: black;"><b>Ember.js:</b> fab fa-ember fa-3x</label>

    <label style="background-color: #f5f5dc; color: black;"><b>Svelte:</b> fab fa-svelte fa-3x</label>

    <label style="background-color: #e0ffff; color: black;"><b>Ruby on Rails:</b> fab fa-ruby fa-3x</label>

    <label style="background-color: #ffe4b5; color: black;"><b>AngularJS:</b> fab fa-angular fa-3x</label>

    <label style="background-color: #f0f8ff; color: black;"><b>TensorFlow:</b> fab fa-tensorflow fa-3x</label>

    <label style="background-color: #f5f5dc; color: black;"><b>Apache Cordova:</b> fab fa-cordova fa-3x</label>

</div>

