@model List<PortfolioProject.Models.About>

<nav id="sidebar">
    <div class="p-4 pt-5">
        @foreach(var item in Model) {
        <a href="/About/AboutList/" class="img logo rounded-circle mb-5" style="background-image: url(@item.ImageUrl); "></a>
        }
        <ul class="list-unstyled components mb-5">

            <li><a href="/About/AboutList/">Hakkımda</a></li>
            <li><a href="/Category/CategoryList/">Kategoriler</a></li>
            <li><a href="/Education/EducationList/">Eğitim Hayatım</a></li>
            <li><a href="/Experience/ExperienceList/">Deneyimlerim</a></li>
            <li><a href="/Message/Inbox/">Gelen Mesajlar</a></li>
            <li><a href="/Profile/UpdateProfile/">Profilim</a></li>
            <li><a href="/Service/ServiceList/">Hizmetler</a></li>
            <li><a href="/Skill/SkillList/">Yeteneklerim</a></li>
            <li><a href="/Testimonial/TestimonialList/">Referanslar</a></li>
            <li><a href="/Work/WorkList/">Çalışmalarım</a></li>
            <li><a href="/SocialMedia/SocialMediaList/">Sosyal Medya</a></li>
            <li><a href="/Statistics/Index/">İstatistikler</a></li>
            <li><a href="/Settings/Index/">Ayarlar</a></li>
            <li><a href="#">Çıkış Yap</a></li>
        </ul>

        <div class="footer">
            <p>
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır.

            </p>
        </div>

    </div>
</nav>